:root {
  --primary-color: #3b86a5;
  --secondary-color: #70b6d6;
  --letters-color: white;
  --forth-color: #d3a384;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  color: var(--secondary-color);
  align-items: center;
  background-color: var(--primary-color);
  margin: 20px 50px;
}

header h1 {
  font-style: italic;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

header nav ul li {
  padding: 0 15px;
}

header a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 25px;
  border-bottom: 3px solid var(--secondary-color);
  padding: 5px;
}

body {
  background-color: var(--primary-color);
  color: var(--letters-color);
}

.hero {
  padding: 30px 0;
  background-color: white;
}

.section-title {
  font-size: 36px;
  padding-right: 15px;
  border-right: 3px solid var(--forth-color);
  width: 20%;
  text-align: right;
  color: var(--forth-color);
}
.section-title h2 {
  font-weight: normal;
}

.section-container {
  display: flex;
  margin: 25px 100px 0 100px;
  justify-content: space-between;
}

.project {
  position: relative;
  align-items: center
}

.section-content {
  width: 80%;
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--forth-color);
  justify-content: space-evenly;
}

.project-img img {
  width: 400px;
  height: 150px;
  border: 3px solid var(--secondary-color);
}

#first-img {
  width: 804px;
  height: 430px;
}
.project-body{
    align-items: bottom;
}
.project-name {
  position: absolute;
  bottom: 30px;
  font-size: 18px;
  border: 3px solid var(--secondary-color);
  background-color: var(--secondary-color);
  width: 180px;
  height: 80px;
  color: var(--forth-color);
  font-weight: bold;
}

.section-content ul {
  display: flex;
  padding: 10px;
  list-style: none;
}

.section-content ul li a {
  text-decoration: none;
  font-size: 30px;
  color: var(--forth-color);
  margin-right: 15px;
  border-bottom: 3px solid var(--forth-color);
  padding: 5px 10px;
}
