:root {
  --primary-color: #3b86a5;
  --secondary-color: #70b6d6;
  --tertiary-color: #d3a384;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  flex-wrap: wrap;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/allan-heroImg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 9999;
}

header h1 a {
  font-style: italic;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 2.8vw;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

header nav ul li {
  padding: 0 15px;
}

header nav ul li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 2vw;
  border-bottom: 0.3vw solid white;
  padding: 5px;
}

header nav ul li a:hover {
  background-color: white;
  border-radius: 10%;
}

body {
  background-color: white;
  color: var();
}

.hero {
  background-color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/allan-heroImg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 500px;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  left: 70%;
  bottom: 15%;
  color: white;
}

.section-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section-title {
  margin-left: 70px;
  font-size: 3.2vw;
  text-align: right;
  border-right: 3px solid var(--primary-color);
  color: var(--tertiary-color);
  width: 20%;
  padding-right: 10px;
}

.section-title h2 {
  font-weight: normal;
}

.project {
  position: relative;
  align-items: center;
}

.section-content {
  width: 80%;
  box-sizing: content-box;
  margin-left: 30px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--secondary-color);
  justify-content: center;
  padding: 0px 15px;
}

.project-img img {
  border: 3px solid var(--primary-color);
}

#small-img {
  width: 430px;
  height: 150px;
  border: 3px solid var(--primary-color);
  margin-bottom: 20px;
  margin-right: 10px;
}

#big-img {
  width: 99%;
  height: 400px;
  margin-bottom: 20px;
}
.project-name {
  position: absolute;
  bottom: 30%;
  font-size: 16px;
  border: 3px solid var(--secondary-color);
  background-color: var(--primary-color);
  width: 130px;
  height: 40px;
  color: var(--tertiary-color);
  font-weight: bold;
}

.section-content ul {
  display: flex;
  padding: 10px;
  list-style: none;
  justify-content: space-between;
  width: 100%;
}

.section-content ul li a {
  text-decoration: none;
  font-size: 26px;
  color: var(--secondary-color);
  margin-right: 10px;
  border-bottom: 3px solid var(--secondary-color);
  padding: 5px 8px;
}

.section-content ul li a:hover {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 10%;
}

footer {
  color: var(--tertiary-color);
  font-size: 8px;
  text-align: center;
  margin-bottom: 2px;
  font-style: italic;
  font-weight: lighter;
}

@media screen and (max-width: 1050px) {
  .section-content {
    width: 100%;
    text-align: center;
    margin: 10px 30px;
  }
.section-content {
  width: 80%;
  justify-content: space-between;
}
  #big-img {
    width: 682px;
  }

  #small-img {
    width: 330px;
    height: 150px;
  }

  .section-content ul {
    width: 25%;
    font-size: 25px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 980px) {
  header {
    margin: 0;
    width: 100%;
  }
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/allan-heroImg.jpg);
    width: 100%;
    height: 600px;
  }

  .section-container {
    justify-content: space-evenly;
  }

  .section-title {
    width: 50%;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 3px dashed var(--secondary-color);
    border-right: none;
    justify-content: center;
    margin: 15px 30px;
  }

  .section-content {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 10px 30px;
  }

  #big-img {
    width: 100%;
  }

  #small-img {
    width: 550px;
    height: 250px;
  }

  .section-content ul {
    width: 25%;
    font-size: 25px;
    justify-content: space-around;
  }

  .section-content ul li {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  header {
    margin: 0;
    width: 100%;
    padding: 0 7px;
  }
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/allan-heroImg.jpg);
    width: 100%;
    height: 300px;
  }

  .hero-text {
    font-size: 11px;
  }

  .section-container {
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-wrap: wrap;
  }

  .section-title {
    width: 50%;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px dashed var(--secondary-color);
    border-right: none;
    justify-content: center;
    margin: 5px 3px;
  }

  .section-content {
    width: 80%;
    text-align: center;
    margin: 5px 7px;
    font-size: 11px;
    padding: 5px;
    flex-wrap: wrap;
  }

  #big-img {
    width: 450px;
    height: 250px;
    border: 1px solid var(--primary-color);
    margin-bottom: 5px;
  }

  #small-img {
    width: 350px;
    height: 150px;
    border: 1px solid var(--primary-color);
    margin-bottom: 5px;
  }

  .section-content ul {
    width: 25%;
    font-size: 25px;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
  }

  .section-content ul li {
    margin-bottom: 3px;
  }

  .section-content ul li a {
    font-size: 11px;
    border-bottom: 1px solid var(--secondary-color);
  }

  .project-name {
    bottom: 30%;
    font-size: 11px;
    border: 1px solid var(--secondary-color);
    width: 75px;
    height: 25px;
    font-weight: normal;
  }
}

@media screen and (max-width: 575px) {
  header {
    justify-content: center;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/allan-heroImg.jpg);
    width: 100%;
    height: 400px;
  }
  .hero-text {
    font-size: 9px;
  }
  .section-title {
    width: 35%;
    padding-bottom: 3px;
    margin: 2px 2px;
  }
  .section-content {
    margin: 3px 5px;
    font-size: 9px;
    padding: 3px;
    display: flex;
    justify-content: center;
  }

  #big-img {
    width: 200px;
    height: 150px;
  }

  #small-img {
    margin-bottom: 3px;
    width: 200px;
    margin-right: 0;
  }

  .section-content ul {
    width: 25%;
    font-size: 11px;
  }

  .section-content ul li {
    margin-bottom: 5px;
    margin-top: 3px;
  }

  .section-content ul li a {
    font-size: 9px;
  }
  footer {
    color: var(--tertiary-color);
    font-size: 5px;
    text-align: center;
    margin-bottom: 2px;
    font-style: italic;
  }
}
